<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Biomarcatori - BioCT</title>
        <meta name="description" content="Sufee Admin - HTML5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />

        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="../static/images/favicon.png">

        <link rel="stylesheet" href="../static/assets/css/normalize.css">
        <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
        <link rel="stylesheet" href="../static/assets/css/flag-icon.min.css">
        <link rel="stylesheet" href="../static/assets/css/cs-skin-elastic.css">
        <!-- <link rel="stylesheet" href="../static/assets/css/bootstrap-select.less"> -->
        <link rel="stylesheet" href="../static/assets/scss/style.css">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

		<script src="{{ url_for('static', filename='assets/js/vendor/jquery-2.1.4.min.js') }}"></script>

        <script src="https://unpkg.com/sweetalert2@7.11.0/dist/sweetalert2.all.js"></script>

    </head>
	<body>
		<!-- Left Panel -->
    	<aside id="left-panel" class="left-panel">
        	<nav class="navbar navbar-expand-sm navbar-default">
	            <div class="navbar-header">
	                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
	                    <i class="fa fa-bars"></i>
	                </button>
	                <a class="navbar-brand" href="./"><img src="../static/images/logo.png" alt="Logo"></a>
	                <a class="navbar-brand hidden" href="./"><img src="../static/images/logo2.png" alt="Logo"></a>
	            </div>
	            <div id="main-menu" class="main-menu collapse navbar-collapse">
	                <ul class="nav navbar-nav">
	                    <li>
	                        <a href="/"> <i class="menu-icon fa fa-home"></i>Dashboard</a>
	                    </li>
	                    <h3 class="menu-title">Analisi Dati</h3><!-- /.menu-title -->
	                    <li>
	                        <a href="/biomarkers"> <i class="menu-icon fa fa-copyright"></i>Biomarcatori</a>
	                        <a href="/MITHrIL"> <i class="menu-icon fa fa-registered"></i>MITHrIL</a>
	                    </li>
	                </ul>
	            </div><!-- /.navbar-collapse -->
	        </nav>
	    </aside><!-- /#left-panel -->

    	<!-- Right Panel -->
    	<div id="right-panel" class="right-panel">
	        <div class="breadcrumbs">
	            <div class="col-sm-4">
	                <div class="page-header float-left">
	                    <div class="page-title">
	                        <h1>Biomarcatori</h1>
	                    </div>
	                </div>
	            </div>
	        </div>

        	<div class="content mt-3">
            	<div class="animated fadeIn">
                	<div class="row">
                  		<div class="col-lg-5">
                    		<div class="card">
                        		<div class="card-header bg-dark">
                            		<strong class="card-title text-light"><i class="fa fa-database fa-lg"></i>&nbsp;Tumor Analysis </strong>
                       		 	</div>
                        		<div class="card-body">
                          			<!-- Credit Card -->
                         			<div id="pay-invoice">
                              			<div class="card-body card-block">
                                  			<div class="card-title">
                                      			<h4 class="text-center">Seleziona una tipologia di tumore ed avvia la tua analisi!</h4>
                                  			</div>

                                            <hr>

                                            <div class="row form-group">
                                                <div class="col-12 col-md-12">
                                                    <label class="form-control-label">Tipologia tumore:</label>
                                                    <select name="typeTumor" class="form-control" required>
                                                        <option value="">Seleziona...</option>
                                                        <option value="0">Thymoma (THYM)</option>
                                                        <option value="1">Thyroid Carcinoma (THCA)</option>
                                                        <option value="2">Liver Hepatocellular Carcinoma (LIHC)</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-12 col-md-12">
                                                    <label class="form-control-label">miRNA Seq:</label>
                                                    <select name="file_miRNA_seq" class="form-control" required>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-12 col-md-12">
                                                    <label class="form-control-label">RNA Seq:</label>
                                                    <select name="file_RNA_seq" class="form-control" required>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-12">
                                                    <div class="row form-group">
                                                        <div class="col col-md-12">
                                                            <label class="form-control-label">Tipologia Contrasti: <b>ALL</b></label>
                                                        </div>
                                                        <div class="col col-md-12">
                                                            <label class="form-control-label">P.value massimo: <b>0.05</b></label>
                                                        </div>
                                                        <div class="col col-md-12">
                                                            <label class="form-control-label">LogFoldChange minimo: <b>1.5</b></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="row form-group">
                                                <div class="col-12 col-md-12">
                                                    <label class="form-control-label">I dati sono salvati in:</label>
                                                    <input type="text" id="disabled-input" name="disabled-input" placeholder="./path_progetto/static/tempAnalysis" disabled="" class="form-control">

                                                </div>
                                            </div>-->
                                            <div>
                                                <button onclick="analysis(1)" class="analysis_1 btn btn-lg btn-danger btn-block">
                                                    <i class="fa fa-heartbeat fa-lg"></i>&nbsp;AVVIA ANALISI
                                                </button>
                                            </div>
                              			</div>
                          			</div>
                        		</div>
                    		</div> <!-- .card -->
                  		</div><!--/.col-->

						<div class="optionAnalysis col-lg-4" style="visibility: hidden;">
                        	<div class="card">
                       			<div class="card-header bg-dark">
                            		<strong class="card-title text-light"><i class="fa fa-info-circle fa-lg"></i>&nbsp;Options Analysis</strong>
                        		</div>
                            	<div class="card-body">
									<div class="row form-group">
										<div class="col col-md-12">
											<div class="row form-group">
												<div class="col col-md-6">
													<label class="form-control-label">P.value massimo:</label>
												</div>
												<div class="col-md-6">
													<input type="text" name="pvalue" class="form-control" value="0.05">
												</div>
											</div>

											<div class="row form-group">
												<div class="col col-md-6">
													<label class="form-control-label">LogFoldChange minimo:</label>
												</div>
												<div class="col-md-6">
													<input type="text" name="foldchange" class="form-control" value="1.5">
												</div>
											</div>
										</div>
									</div>

									<div class="row form-group">
										<div class="col-12 col-md-12">
											<label class="form-control-label">Tipologia Contrasti:</label>
											<select name="typeContrasts" id="idTypeContrasts" class="form-control" required>
                                                <option value="0">ALL (Default)</option>
											</select>
										</div>
									</div>

                                    <div>
                                        <button onclick="analysis(2)" class="btn btn-lg btn-danger btn-block">
                                            <i class="fa fa-heartbeat fa-lg"></i>&nbsp;APPLICA
                                        </button>
                                    </div>

                            	</div>
                        	</div>
                    	</div>

						<div class="optionBoxplot col-lg-3" style="visibility: hidden;">
                        	<div class="card">
                       			<div class="card-header bg-dark">
                            		<strong class="card-title text-light"><i class="fa fa-info-circle fa-lg"></i>&nbsp;Options BoxPlot</strong>
                        		</div>
                            	<div class="card-body">
									<div class="row form-group">
										<div class="col-12 col-md-12">
											<label class="form-control-label">Lista Geni:</label>
											<select name="listGenes" id="idListGenes" class="form-control" required>

											</select>
										</div>
									</div>

                                    <div>
                                        <button onclick="analysis(3)" class="btn btn-lg btn-danger btn-block">
                                            <i class="fa fa-heartbeat fa-lg"></i>&nbsp;APPLICA
                                        </button>
                                    </div>
                            	</div>
                        	</div>
                    	</div>


            		</div><!-- .animated -->
        		</div><!-- .content -->
    		</div><!-- /#right-panel -->

            <div class="content mt-3">
            	<div class="animated fadeIn">
                	<div class="row">
                  		<div class="printHeatmap col-lg-4" style="visibility: hidden;">
                    		<div class="card">
                        		<div class="card-header bg-dark">
                            		<strong class="card-title text-light"><i class="fa fa-database fa-lg"></i>&nbsp;Heatmap </strong>
                       		 	</div>
                        		<div class="card-body">
                          			<!-- Credit Card -->
                         			<div id="pay-invoe">
                              			<div class="imgHeatmap card-body card-block">

                              			</div>
                          			</div>
                        		</div>
                    		</div> <!-- .card -->
                  		</div><!--/.col-->

						<div class="printListGenes col-lg-3" style="visibility: hidden;">
                        	<div class="card">
                       			<div class="card-header bg-dark">
                            		<strong class="card-title text-light"><i class="fa fa-info-circle fa-lg"></i>&nbsp;Info Analysis and List Genes</strong>
                        		</div>
                            	<div class="infoAnalysis card-body">

                            	</div>
                        	</div>
                    	</div>

						<div class="printBoxplot col-lg-5" style="visibility: hidden;">
                        	<div class="card">
                       			<div class="card-header bg-dark">
                            		<strong class="card-title text-light"><i class="fa fa-info-circle fa-lg"></i>&nbsp;BoxPlot</strong>
                        		</div>
                            	<div class="imgBoxplot card-body">

                            	</div>
                        	</div>
                    	</div>


            		</div><!-- .animated -->
        		</div><!-- .content -->
    		</div><!-- /#right-panel -->
    	</div>

		<script>
        	var idxTumor = '';
        	var files_seq_tumor = [] //0 = miRNA, 1 = RNA
            var contrasts_selected = ''
            var pvalue, foldchange

            var arrTumor = ['THYM', 'THCA', 'LIHC']

            //========== [START] THYM ==========
            var thym_file_mirna = {
                option1:{value: 'THYM__mir_HiSeq.hg19.mirbase20__tissueTypeAll__20180427152542.txt', text: 'THYM__mir_HiSeq.hg19.mirbase20__tissueTypeAll'},
                option2:{value: 'THYM__mir_HiSeq.hg18__tissueTypeAll__20180427152414.txt', text: 'THYM__mir_HiSeq.hg18__tissueTypeAll'}
            }

            var thym_file_rna = {
                option1:{value: 'THYM__gene.normalized_RNAseq__tissueTypeAll__20180421104232.txt',text: 'THYM__gene.normalized_RNAseq__tissueTypeAll'},
                option2:{value: 'THYM__gene_RNAseq__tissueTypeAll__20180421104414.txt', text: 'THYM__gene_RNAseq__tissueTypeAll'}
            }

			var thym_contrasts = ['ALL (Default)', 'S2a vs S1', 'S2b vs S2a', 'S3 vs S2b', 'S4a vs S3', 'S4b vs S4a']

			//========== [START] THCA ==========
			var thca_file_mirna = {
                option1:{value: 'THCA__mir_HiSeq.hg19.mirbase20__tissueTypeAll__20180430100324.txt', text: 'THCA__mir_HiSeq.hg19.mirbase20__tissueTypeAll'},
                option2:{value: 'THCA__mir_HiSeq.hg18__tissueTypeAll__20180430100150.txt', text: 'THCA__mir_HiSeq.hg18__tissueTypeAll'}
            }

            var thca_file_rna = {
                option1:{value: 'THCA__gene.normalized_RNAseq__tissueTypeAll__20180430141622.txt',text: 'THCA__gene.normalized_RNAseq__tissueTypeAll'},
                option2:{value: 'THCA__gene_RNAseq__tissueTypeAll__20180430153443.txt', text: 'THCA__gene_RNAseq__tissueTypeAll'}
            }

			var thca_contrasts = ['ALL (Default)', 'S2 vs S1', 'S3 vs S2', 'S4 vs S3', 'S4a vs S4', 'S4c vs S4a']

			//========== [START] LIHC ==========
			var lihc_file_mirna = {
                option1:{value: 'LIHC__mir_HiSeq.hg19.mirbase20__tissueTypeAll__20180430150613.txt', text: 'LIHC__mir_HiSeq.hg19.mirbase20__tissueTypeAll'},
                option2:{value: 'LIHC__mir_HiSeq.hg18__tissueTypeAll__20180430150456.txt', text: 'LIHC__mir_HiSeq.hg18__tissueTypeAll'}
            }

            var lihc_file_rna = {
                option1:{value: 'LIHC__gene.normalized_RNAseq__tissueTypeAll__20180430151612.txt',text: 'LIHC__gene.normalized_RNAseq__tissueTypeAll'},
                option2:{value: 'LIHC__gene_RNAseq__tissueTypeAll__20180430151346.txt', text: 'LIHC__gene_RNAseq__tissueTypeAll'}
            }

			var lihc_contrasts = ['ALL (Default)', 'S2 vs S1', 'S3 vs S2', 'S3a vs S3', 'S3b vs S3a', 'S3c vs S3b','S4 vs S3c','S4a vs S4', 'S4b vs S4a']


            $(function() {
                $('select[name=typeTumor]').on('change', function() {
                    idxTumor = this.value;

                    //resetto array files
                    files_seq_tumor = []

                    //ripulisco le select miRNA e RNA
                    $('select[name=file_miRNA_seq], select[name=file_RNA_seq]').find('option').remove().end()

                    //in base al tumore riempio le select di miRNA e RNA
                    switch (idxTumor) {
                        case "0":
                            files_seq_tumor[0] = thym_file_mirna
                            files_seq_tumor[1] = thym_file_rna
                            break;
                        case "1":
                            files_seq_tumor[0] = thca_file_mirna
                            files_seq_tumor[1] = thca_file_rna
                            break;
                        case "2":
                            files_seq_tumor[0] = lihc_file_mirna
                            files_seq_tumor[1] = lihc_file_rna
                            break;
                    }

                    console.log('array files selezionati', files_seq_tumor)

                    $.each(files_seq_tumor[0], function (i, item) {
                        $('select[name=file_miRNA_seq]').append($('<option>', {
                            value: item.value,
                            text : item.text
                        }));
                    });

                    $.each(files_seq_tumor[1], function (i, item) {
                        $('select[name=file_RNA_seq]').append($('<option>', {
                            value: item.value,
                            text : item.text
                        }));
                    });
                });
			});

            /* ======================================================================================== */

			function analysis(idxAnalysis) {
			    if(idxTumor != "") {
                    var file_tumor_selected_miRNA = $('select[name=file_miRNA_seq]').val()
                    var file_tumor_selected_RNA = $('select[name=file_RNA_seq]').val()

                    console.log('files_tumor_selected', file_tumor_selected_miRNA + ' // '+file_tumor_selected_RNA)

                    pvalue = $('input[type=text][name=pvalue]').val()
                    console.log('pvalue', pvalue)

                    foldchange = $('input[type=text][name=foldchange]').val()
                    console.log('foldchange', foldchange)

                    idxContrasts = $('select[name=typeContrasts]').val();
                    console.log('idxContrasts', idxContrasts)

                    geneSelected = $('select[name=listGenes]').val();
                    console.log('geneSelected', geneSelected)

                    swal({
                        title: '<i>Analisi</i> <u>avviata</u>',
                        type: 'info',
                        html: 'Il <b>Popup</b>, si chiuder&agrave; automaticamente al completamento dell\'analisi.',
                        showCloseButton: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    })

                    $.post("/analysisBiomarkers", {tumor: arrTumor[idxTumor], idxAnalysis: idxAnalysis, file_miRNA: file_tumor_selected_miRNA,
                        file_RNA: file_tumor_selected_RNA, pvalue: pvalue, foldchange: foldchange,
                        contrasts: idxContrasts, geneSelected: geneSelected}, function(data) {

                        var infoAnalysisHTML = '<ul><li><b>Tumore:</b> '+arrTumor[idxTumor]+'</li><li><b>miRNA Seq:</b> '+file_tumor_selected_miRNA.slice(0, -20)+'</li><li><b>RNA Seq:</b> '+file_tumor_selected_RNA.slice(0, -20)+'</li><li><b>P.value:</b> '+pvalue+'</li><li><b>LogFoldChange:</b> '+foldchange+'</li>'


                        if(data.emptyDF == "1") {
                            //stampare la heatmap
                            $(".printHeatmap").removeAttr("style")
                            $('.imgHeatmap').html('').prepend('<img src="../static/images/no_image.png" />')

                            //stampare info dell'analisi + lista geni
                            $(".printListGenes").removeAttr("style")
                            $(".infoAnalysis").html('').prepend(infoAnalysisHTML+'<li><b>Contrasto:</b> '+contrasts_selected[idxContrasts]+'</li><li><b>Num. Geni:</b> '+data.nGenes+'</li></ul>')

                            //nascondo il div per il boxplot
                            $('.optionBoxplot').attr('style', 'visibility: hidden;');

                            //nascondo il div dell'img del boxplot
                            $('.printBoxplot').attr('style', 'visibility: hidden;');

                            //resetto il gene per il boxplot
                            geneSelected = ''
                            $('#idListGenes').find('option').remove().end()

                            swal({
                                title: '<i>Analisi</i> <u>completata</u>',
                                type: 'warning',
                                html: 'L\'analisi appena eseguita, non ha riscontrato nessun gene differenzialmente espresso!',
                                showCloseButton: true,
                                showCancelButton: false,
                                showConfirmButton: true,
                                allowOutsideClick: false,
                                allowEscapeKey: false
                            })
                        } else {
                            if(idxAnalysis == 4) {
                                swal({
                                    title: '<i>MITHrIL</i>',
                                    type: 'success',
                                    html: 'Il file di input per <b>MITHrIL</b>, è stato generato con successo!',
                                    showCloseButton: true,
                                    showCancelButton: false,
                                    showConfirmButton: true,
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                })
                            } else {
                                if(idxAnalysis == 1 || idxAnalysis == 2) {
                                    //disattivare il bottone avvia analisi
                                    $('.analysis_1').prop("disabled", true);
                                    $('select[name=typeTumor]').prop('disabled', 'disabled');
                                    $('select[name=file_miRNA_seq], select[name=file_RNA_seq]').prop('disabled', 'disabled');

                                    //aggiungere le 5 scelte di stadio tumorale se è thym
                                    addStageTumor(idxTumor)

                                    //aggiungere tutti i geni nella lista
                                    $('#idListGenes').html(data.listGene)

                                    //abilitare opzioni e boxplot come div
                                    $(".optionAnalysis").removeAttr("style")
                                    $(".optionBoxplot").removeAttr("style")

                                    //stampare la heatmap
                                    $(".printHeatmap").removeAttr("style")

                                    if(parseInt(data.nGenes) > 1)
                                    	$('.imgHeatmap').html('').prepend('<img src="../static/tempAnalysis/'+ arrTumor[idxTumor] + '_' + pvalue + '_' + foldchange + '_' + idxContrasts + '_heatmap.jpg?dummy='+jQuery.now()+'" />')
									else
										$('.imgHeatmap').html('').prepend('<img src="../static/images/no_image.png" />')

                                    console.log('idxContrasts_post:', idxContrasts)
                                    console.log('contrasts_selected_post:', contrasts_selected)
                                    console.log('contrasts_selected[idxContrasts]_post:', contrasts_selected[idxContrasts])


                                    //stampare info dell'analisi + lista geni
                                    $(".printListGenes").removeAttr("style")
                                    $(".infoAnalysis").html('').prepend(infoAnalysisHTML+'<li><b>Contrasto:</b> '+contrasts_selected[idxContrasts]+'</li><li><b>Num. Geni:</b> '+data.nGenes+'</li></ul><hr /><center><b>File input per MITHrIL</b><button onclick="analysis(4)" class="btn btn-danger btn-xs">Genera txt: '+contrasts_selected[idxContrasts]+'</button></center><hr /><div id="" style="overflow:scroll; height:180px;">'+data.AllListGene+"</div>")

                                    //nascondo il div per il boxplot
                                    $('.printBoxplot').attr('style', 'visibility: hidden;');
                                } else if(idxAnalysis == 3) {
                                    //stampare il boxplot
                                    $(".printBoxplot").removeAttr("style")
                                    //console.log(jQuery.now())
                                    $('.imgBoxplot').html('').prepend('<img src="../static/tempAnalysis/' + arrTumor[idxTumor] + '_' + pvalue + '_' + foldchange + '_' + idxContrasts + '_' + geneSelected + '_boxplot.jpg?dummy='+jQuery.now()+'" />')
                                }

                                $("html, body").removeClass("swal2-shown")
                                $(".swal2-container").remove();
                            }
                        }
                    }, "json");
                } else {
                    swal({
                        title: '<i>ERRORE</i>',
                        type: 'error',
                        html: 'Bisogna selezionare almeno un tumore!',
                        showCloseButton: true,
                        showCancelButton: false,
                        showConfirmButton: true,
                        allowOutsideClick: false
                    })
                }
			}

			function addStageTumor(idxTumor) {
			    $('#idTypeContrasts').find('option').remove().end()

			    switch (idxTumor) {
					case "0":
						contrasts_selected = thym_contrasts
						break;
					case "1":
						contrasts_selected = thca_contrasts
						break;
					case "2":
						contrasts_selected = lihc_contrasts
						break;
                }

                for (var i = 0; i < contrasts_selected.length; i++) {
					$('#idTypeContrasts').append('<option value="'+i+'">'+contrasts_selected[i]+'</option>')
					$("#idTypeContrasts option[value='"+idxContrasts+"']").attr("selected", "selected");
				}
			}
		</script>
	</body>
</html>